main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header {
    text-align: center;
}

section {
    text-align: center;
}

.tooltip {
    position: absolute;
    background-color: wheat;
    opacity: 1;
    border-radius: 10px;
    padding: 5px;
    left: 0px;
    top: 0px;
}

#scatter {
    margin-top: 50px;
}

#scatter svg circle {
    cursor: pointer;
}

.players .player1, .players .player2 {
    font-weight: 600;
    font-size: 20px;
}