main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tooltip {
    position: absolute;
    background-color: wheat;
    opacity: 1;
    border-radius: 10px;
    padding: 5px;
    left: 0px;
    top: 0px;
}

#scatter svg circle {
    cursor: pointer;
}